/* 
 * Submit a Quote Page 
 */

.quote-submission {
  width: 100%;
  &::before {
    @include desktop {
      @include fat-quote(left);
    }
  }
  &::after {
    @include desktop {
      @include fat-quote(right);
    }
  }
  .quote-author,
  .quote-content,
  .quote-source,
  .quote-source-url {
    display: block;
    background: $color__background-body;
    border: 1px $color__link solid;
    color: white;
    &:focus {
      border: 1px grey solid;
      outline: 0;
    }
  }
  label {
    margin: 10px 0;
    display: block;
  }
  input[type='submit'] {
    @include button;
    margin: 25px 0;
  }
  h1 {
    @include desktop {
      margin: 0 0 25px 0;
    }
  }
  p {
    font-size: 20px;
    margin-top: 25px;
    a {
      text-decoration: none;
    }
  }
}
