/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.site-footer {
  .site-info {
    margin-top: 72px;
    margin-bottom: 60px;
    @include tablet {
      display: flex;
    }
  }
  .footer-navigation {
    position: relative;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    margin: 0;
    padding-left: 0;
    li {
      flex-basis: auto;
      margin: 0.1em 0;
      padding: 0 15px;
      text-align: center;
      border-left: 1px white solid;
      line-height: 1.5;
      &:first-child {
        border-left: 0;
        padding-left: 0;
      }
      a {
        text-decoration: none;
        font-weight: 300;
      }
    }
  }
  p {
    margin-top: 16px;
    font-weight: 300;
    @include tablet {
      margin: 0;
      border-left: 1px white solid;
      padding-left: 15px;
    }
    a {
      text-decoration: none;
    }
  }
}
