/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
  margin-top: 2.4rem;
  display: block;
  overflow: auto;
  a {
    text-decoration: none;
  }
  .site-branding .logo {
    width: 300px;
    max-width: 100%;
    margin-right: auto;
    @include tablet {
      width: 500px;
    }
  }
}
