$tablet-width: 620px;
$desktop-width: 1080px;

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
// media queries
@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
@mixin fat-quote($position) {
  @if $position == right {
    content: '\f10d';
    left: -175px;
  } @else if $position == left {
    content: '\f10e';
    right: -175px;
  }
  font-family: 'FontAwesome';
  position: absolute;
  color: #0c0;
  font-size: 120px;
  top: -25px;
}
@mixin button() {
  background: none;
  border: 2px $color__link solid;
  box-shadow: none;
  color: $color__link;
  text-shadow: none;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 36px;
}
