/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

.container {
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}

/* Main Body of index/single.php */

.site-content {
  font-size: 20px;
  font-weight: 300;
  .site-main {
    position: relative;
    @include desktop {
      margin: 4rem 175px 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .entry-content {
    margin-top: 20px;
    margin-bottom: 24px;
  }
  .entry-meta {
    margin-bottom: 48px;
  }
  p {
    margin: 0;
    max-width: 100%;
    @include tablet {
      font-size: 1.35rem;
    }
    @include desktop {
      font-size: 2.1rem;
    }
  }
  h2 {
    font-size: 20px;
    font-weight: 300;
    display: inline;
  }
  .source a {
    text-decoration: none;
    font-style: italic;
  }
  article::before {
    @include desktop {
      @include fat-quote(left);
    }
  }
  article::after {
    @include desktop {
      @include fat-quote(right);
    }
  }
}
#new-quote-button {
  @include button;
  &:focus {
    outline: 0;
  }
}

/* About page (page.php) */

.about-main {
  @extend .site-main;
  .entry-title {
    font-size: 32px;
  }
  p {
    margin-top: 16px;
    margin-top: 24px;
    font-size: 16px;
  }
  h1 {
    @include desktop {
      margin: 0 0 25px 0;
    }
  }
}

/* All Archives Page */

.archive-main {
  @extend .site-main;
  h1 {
    margin-top: 42px;
    margin-bottom: 21px;
    font-size: 32px;
    font-weight: 500;
    @include desktop {
      margin: 0 0 25px 0;
    }
  }
  h2 {
    margin: 20px 0;
    display: block;
    font-size: 24px;
    font-weight: 500;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    li {
      margin-bottom: 4px;
      margin-right: 18px;
      a {
        font-size: 16px;
        font-weight: 200;
        text-decoration: none;
        @include tablet {
          font-size: 20px;
        }
      }
    }
  }
  .tag-cloud-link {
    font-size: 16px !important;
    @include tablet {
      font-size: 20px !important;
    }
  }
  .browse-archives::before {
    @include desktop {
      @include fat-quote(left);
    }
  }
  .browse-archives::after {
    @include desktop {
      @include fat-quote(right);
    }
  }
}

/* Submit a Quote Page */

.quote-submission {
  width: 100%;
  &::before {
    @include desktop {
      @include fat-quote(left);
    }
  }
  &::after {
    @include desktop {
      @include fat-quote(right);
    }
  }
  #quote-author,
  #quote-content,
  #quote-source,
  #quote-source-url {
    display: block;
    background: $color__background-body;
    border: 1px $color__link solid;
    color: white;
    &:focus {
      border: 1px grey solid;
      outline: 0;
    }
  }
  label {
    margin: 10px 0;
    display: block;
  }
  input[type='submit'] {
    @include button;
    margin: 25px 0;
  }
  h1 {
    @include desktop {
      margin: 0 0 25px 0;
    }
  }
  p {
    font-size: 20px;
    margin-top: 25px;
    a {
      text-decoration: none;
    }
  }
}

/* 404 Page */

.error-404 {
  margin-right: auto;
  &::before {
    @include desktop {
      @include fat-quote(left);
    }
  }
  &::after {
    @include desktop {
      @include fat-quote(right);
    }
  }
  h1 {
    @include desktop {
      margin-top: 0;
      font-size: 1.75rem;
    }
  }
  p {
    font-size: 16px;
    margin-bottom: 15px;
  }
}
.clearfix {
  border: 0;
  padding-left: 0;
  margin-left: 0;
}
.search-submit {
  background: 0;
  box-shadow: none;
  text-shadow: none;
  border: 0;
  color: $color__link;
  font-size: 20px;
  padding: 10px;
  &:focus {
    outline: 0;
  }
}
.search-field {
  background-color: $color__background-body;
  border: 2px $color__link solid;
  padding: 3px 8px;
  color: white;
  &:focus {
    outline: 0;
    border: 2px grey solid;
    color: white;
  }
}

/* Search Results Page */

.search-main {
  @extend .site-main;
  &::before {
    @include desktop {
      @include fat-quote(left);
    }
  }
  &::after {
    @include desktop {
      @include fat-quote(right);
    }
  }
  article {
    margin-right: auto;
  }
  .page-header {
    margin-right: auto;
    width: 100%;
    border-bottom: 0.5px white dotted;
    h1 {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 25px;
      @include desktop {
        margin-top: 0;
      }
    }
  }
  .entry-header {
    margin-top: 20px;
    a {
      font-size: 24px;
      text-decoration: none;
      font-weight: 500;
    }
  }
  .entry-summary p {
    font-size: 16px;
  }
}

/* Category (archive.php) Page */

.archive-main {
  .page-header {
    margin-right: auto;
    width: 100%;
    border-bottom: 0.5px white dotted;
    h1 {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 25px;
      @include desktop {
        margin-top: 0;
      }
    }
  }
  article {
    margin-bottom: 0;
    border-bottom: 0.5px white dotted;
    p {
      margin-top: 40px;
    }
    h2 {
      font-weight: 200;
      font-size: 20px;
      display: inline;
    }
  }
}
.number-pagination {
  margin-top: 40px;
  margin-right: auto;
  a {
    font-size: 16px;
    text-decoration: none;
    padding: 0 4px;
  }
  .current {
    @extend a;
    color: white;
  }
}
